---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";
import HeroImage from '../assets/images/laptop.svg';

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <Image src={HeroImage} alt="Hero image." width="768"/>

      <!--<h1 class="mr-2">Ubuntu Unity</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>-->

      <p class="pt-5">
        Ubuntu Unity is a flavor of Ubuntu featuring the Unity7 desktop environment
        (the default desktop environment used by Ubuntu from 2010-2017).
      </p>
      <p>
        It is actively developed and maintained, with releases of Unity7 every year.
        Learn more about Unity7 at <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://unityd.org"
        >
          unityd.org
        </LinkButton>.
      </p>

      <h2>Downloads</h2>

      <p>
        <b>Ubuntu Unity 24.10</b> <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed ml-2 mr-2"
          href="https://cdimage.ubuntu.com/ubuntu-unity/releases/oracular/release/ubuntu-unity-24.10-desktop-amd64.iso"
        >
          Download ISO (direct)
        </LinkButton> <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://fosstorrents.com/distributions/ubuntu-unity/"
        >
          Download torrent
        </LinkButton>
      </p>

      <p>
        <b>Ubuntu Lomiri 24.10</b> <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed ml-2 mr-2"
          href="https://ruds.io/cloud/s/kSGFnLJycGk9pM9"
        >
          Download ISO (direct)
        </LinkButton>
      </p>


      <p>
        <b>Ubuntu Unity 24.04.2 LTS</b> <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed ml-2 mr-2"
          href="https://cdimage.ubuntu.com/ubuntu-unity/releases/noble/release/ubuntu-unity-24.04.2-desktop-amd64.iso"
        >
          Download ISO (direct)
        </LinkButton> <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed"
          href="https://fosstorrents.com/distributions/ubuntu-unity/"
        >
          Download torrent
        </LinkButton>
      </p>

      <p>
        <b>Ubuntu Lomiri 24.04 LTS</b> <LinkButton
          className="hover:text-skin-accent underline underline-offset-4 decoration-dashed ml-2 mr-2"
          href="https://ruds.io/cloud/s/eNiJxnc7qk2tpKN"
        >
          Download ISO (direct)
        </LinkButton>
      </p>

      <h2>Features</h2>

      <p><b>></b> Unity7 has elements such as the heads-up display (HUD) and the Global Menu, helping with your productivity. </p>
      <p><b>></b> It has a modern-looking user interface, but with an elegant, traditional workflow.</p>

      <h2>Why you should upgrade from 16.04</h2>

      <p><b>></b> Ubuntu 16.04 is severely outdated, with several security holes that can be (and are being) exploited in the wild. </p>
      <p><b>></b> The version of Unity7 Ubuntu Unity ships is nearly identical to that in 16.04, but with a whole bunch of functional improvements and is actively developed.</p>

      <h2>How you can contribute</h2>

      <p><b>></b> Get started by creating a merge request on GitLab (linked below) on any of the repositories you would like to contribute to. </p>
      <p><b>></b> When you got one ready, ping <b>@rs2009</b> on the Telegram group or the Discord server (also linked below). </p>
      <p><b>></b> A few more substantial contributions, and you'll find yourself a member of the team.</p>

      <h2>Team</h2>

      <p><b>Rudra Saraswat</b> Creator and Project Lead of Ubuntu Unity, developing and maintaining Unity7, and also an Ubuntu member.</p>
      <p><b>Khurshid Alam</b> Maintaining Unity7 since 2017, original member of Unity7 Maintainers since its demise in 2017.</p>
      <p><b>Maik Adamietz</b> Community Moderator/Administrator, also an Ubuntu member.</p>
      <p><b>Tobiyo Kujikaai</b> Community Moderator/Administrator, also involved in Ubuntu Touch development.</p>

      <h3>Previous team members</h3>
      <p><b>Allan Carvalho</b> Designed the artwork for the releases of Ubuntu Unity up to 22.04, as well as the logo.</p>
      <p><b>Muqtadir</b> Designed the launcher BFB, and the Yaru-Unity theme used in Ubuntu Unity 21.10.</p>

      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts
            .filter(({ data }) => !data.featured)
            .map(
              ({ data }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slugify(data)}`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero h2 {
    @apply my-2 inline-block text-2xl font-bold sm:my-4 sm:text-3xl;
  }
  #hero h3 {
    @apply my-2 inline-block text-xl font-bold sm:my-4 sm:text-xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
